<ion-header>
    <ion-toolbar>
        <ion-title>
            INICIO
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
    <ion-grid>
        <ion-row>
            <ion-col align-self-center><br><br><br><br><br><br><br>
                <ion-button [routerLink]="['/registration']" expand="block" color="primary">Registrate</ion-button>
                <br>
                <div style="width: 100%; height: 15px; border-bottom: 1px solid black; text-align: center">
                    <span style="font-size: 17px; background-color: #F3F5F6; padding: 0 10px;">
                        Ya tienes un usuario? <!--Padding is optional-->
                    </span>
                </div>
                <br>
                <ion-button [routerLink]="['/login']" expand="block" color="danger">Iniciar Sesión</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>